@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    html {
        @apply h-screen w-screen
    }

    body {
        @apply bg-bgdark h-full w-full
    }

    #root {
        @apply h-full w-full relative
    }

    /* width */
    ::-webkit-scrollbar {
        width: 0.5rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply backdrop-blur-sm bg-bgdark bg-opacity-50
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-[#888] rounded-full
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
    }

    .font-rubik {
        font-family: "Rubik Mono One", monospace;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
    }

    option {
        appearance: none;
        -webkit-appearance: none;
    }

    h1 {
        @apply text-3xl font-bold
    }

    h2 {
        @apply text-2xl font-bold
    }

    code {
        @apply bg-[#1e2124] px-1 font-mono
    }
}

@layer components {
    .custom-select {
        @apply w-full bg-transparent text-white min-h-12 rounded-md px-4 border border-bggrey-ll font-mono
    }

    .custom-option {
        @apply bg-bgdark text-white
    }
}

@layer utilities {
    .animation-delay-1\/6 {
        animation-delay: 166ms;
    }

    .animation-delay-2\/6 {
        animation-delay: 333ms;
    }
}
